$orange-med: rgb(187, 121, 22)
$orange-dark: rgb(121, 72, 9)
$orange-light: rgb(252, 192, 26)

body
  background: lightgrey
  margin: 0

main
  width: 1200px
  margin: 0 auto

header
  nav
    background-color: $orange-med
    display: flex
    justify-content: space-evenly
    padding: 20px

    a
      text-decoration: none
      color: white
  h1
    text-align: center
      